[FORMAT]
max-line-length=120

[BASIC]
good-names=
    _,
    i,
    j,
    k,
    df,
    n,

[MESSAGES CONTROL]
disable=
    logging-fstring-interpolation,
    missing-class-docstring,
    missing-function-docstring,
    too-few-public-methods,
